
body {
  background-color: lightblue;
}

* {
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  color: purple;
  font-size: 80px;
  bottom: 0;
}

h2 {
  box-sizing: border-box;
  margin: auto;
}
p {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}

.spiritual-self {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 220px;
}

.slogan {
  text-align: center;
  font-style: italic;
  font-size: 30px;
}

.destinationList 
{ 
  text-align: center;
}






